@using IMS.Entities;
<tr>
    <td>@InventoryListItem.InventoryName</td>
    <td>@InventoryListItem.Quantity</td>
    <td>@InventoryListItem.Price.ToString("c")</td>
    <td>
        <button 
            type="button" 
            class="btn btn-light"></button>
    </td>
</tr>

@code {
    [Parameter]
    public Inventory InventoryListItem {get; set;}
}
